* {
    /*border: red dashed;*/
}


body {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.card {
    background-color: #DEDEDE;
    width: 50vw;
    min-width: 500px;
}

.content {
    padding: 3em;
}

.title-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #444444;
    text-align: center;
    padding: 0 0 0.5em 0;
}

.body-text {
    font-family: 'Georgia', serif;
    font-size: 1em;
    color: #2A2A2A;
    text-align: center;
    letter-spacing: 0.025em;
}

.bottom-buffer {
    padding: 0 0 3em 0;
}

.input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    background-color: #FFFFFF;
}

input[type=text]:focus {
    outline: none;
}

.input-box {
    margin: 10px;
    padding: 10px;
    width: calc(50% - 42px);
}

#input-a {
    text-align: right;
}

.response-area {
    padding: 25px;
    margin: 10px;
    opacity: 0.80;
}

.anagram-good {
    background-color: rgba(0, 255, 100, 0.35);
}

.anagram-bad {
    background-color: rgba(255, 0, 0, 0.35);
}
