
/*@keyframes expand-anim {
    to {
        width: 80vw;
        height: 60vh;
    }
}*/

@-webkit-keyframes expand-anim {
    to {
        /*margin: 0;*/
        /*padding: 0;*/
        width: 37vw;
        height: 29vh;
        /*top: auto;*/
        /*left: auto;*/
        /*transform: translate(-50%, -50%);*/
    }
}

.expand {
    /*border: red dashed 10px;*/
    /*-webkit-animation: expand 3s ease-in-out 5s 1 normal;*/
    -webkit-animation: expand-anim 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    z-index: 2000;

    /*display: block;*/

    /*position: absolute;*/


    /*-webkit-animation: expand-anim 0.3s ease-in-out;*/
    /*-webkit-animation-name: expand;*/
    /*-webkit-animation-duration: 2s;*/
    /*-webkit-animation-timing-function: ease-in-out;*/
}
