/*
* {
    border: red dashed 1px;
}
*/

/** {
    -webkit-font-smoothing: antialiased;
}*/

@font-face {
    font-family: Din-Regular;
    src: url('fonts/FF_DIN_Regular.otf');
}

@font-face {
    font-family: Din-Medium;
    src: url('fonts/FF_DIN_Medium.otf');
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    /*text-rendering: geometricPrecision;*/
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #2E2E2E;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -99;
}
#header {
    margin-top: 40vh;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1000;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 1500px) {
    #header-image {
        width: 100%;
        height: 70vh;
        z-index: -1;
        top: 0;
        position: absolute;
        background-image: url("images/bg2b_med.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (min-width: 1501px) {
    #header-image {
        width: 100%;
        height: 40vh;
        z-index: -1;
        top: 0;
        position: absolute;
        background-image: url("images/bg2b_big.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
#header-title {
    color: white;
    font-family: 'Din-Regular', sans-serif;
    font-size: 2em;
    letter-spacing: 0.1em;
}
.raised-letter {
    vertical-align: 17%;
}
#header-menu {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}
#project-card-holder {
    padding: 0 3em;
    display: inline-block;
    margin: auto;
}
.project-card {
    width: 15em;
    height: 15em;
    /*overflow: hidden;*/
    display: inline-block;
    margin: 1.5em;
    background-size: 100%;
    /*border-radius: 3px;*/
    /*border: 6px solid rgba(0,0,0,0.175);*/
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    /*-moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;*/
}
/*#project-card-holder:hover > .project-card {
    opacity: 0.6;
}
#project-card-holder:hover > .project-card:hover {
    opacity: 1;
}*/
.distributed {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: row;
}
.menu-link {
    color: white;
    font-family: 'Din-Regular', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.menu-link:hover {
    color: #0FCCFB;
}
.dark {
    background-color: #2E2E2E;
    color: #CFCFCF;
}
.light {
    background-color: #FFFFFF;
    color: #3B3B3B;
}
.section-content {
    max-width: 31em;
    margin: auto;
    padding: 2em;
}
.skinny-content {
    padding: 1em 2em 0 2em;
}
.section-head {
    margin-bottom: 2em;
}
.section-head-box {
    border: solid 1px #459DB1;
    display: inline-block;
}
.section-head-text {
    color: #459DB1;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    font-family: "Din-Light", sans-serif;
    font-size: 1.55em;
    transform: translateY(-2%);
    /*-webkit-transform: translateY(-5%);*/
    /*-ms-transform: translateY(-5%);*/
    padding: 0.5em 0.7em;
    vertical-align: middle;
}
.section-text {
    margin-bottom: 1.25em;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}
.project {
    padding: 0;
}
.project-title {
    font-family: Din-Regular, sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 400;
}
.echo-title {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-right: 1em;
    float: left;
    display: inline-block;
}
@media only screen and (max-width: 900px) {
    .lightning-title {
        margin-bottom: 0.5em;
        display: block;
        text-align: left;
    }
    #design-image {
        width: 65%;
        margin: 20px auto;
        display: block;
        border: rgba(0, 0, 0, 1.0) solid 1px;
    }
    .design-text {
        vertical-align: middle;
        display: inline-block;
        width: 100%;
    }
    .image-set {
        background-color: #222222;
        max-width: 100vw;
        margin: auto;
        overflow: scroll;
    }
    .echo-image {
        width: 70%;
        height: 70%;
        padding: 2vw;
    }
}
@media only screen and (min-width: 901px) {
    .lightning-title {
        margin-top: 0.6em;
        margin-bottom: 0.5em;
        margin-left: -40%;
        margin-right: 0.75em;
        float: left;
        text-align: right;
        display: inline-block;
    }
    #design-image {
        width: 50%;
        margin-left: -40%;
        margin-right: 2em;
        vertical-align: middle;
        display: inline-block;
        border: rgba(0, 0, 0, 1.0) solid 1px;
    }
    .design-text {
        vertical-align: middle;
        display: inline-block;
        width: 80%;
    }
    .image-set {
        background-color: #222222;
        max-width: 65vw;
        margin: auto;
        margin-bottom: 4em;
        overflow: scroll;
    }
    .echo-image {
        width: 30%;
        height: 30%;
        padding: 2vw;
    }
}
.tti-title {
    padding: 0.25em 0;
}
.design-title {
    padding: 0.25em 0;
}
.lightning-image {
    width: 40%;
    display: inline-block;
    margin: 1%;
    border: rgba(0, 0, 0, 1.0) solid 1px;
}
.contact-link {
    color: #0745A9;
    text-decoration: none;
    border-bottom: 0;
}
.contact-link:hover {
    border-bottom: 1px solid;
}
.dark-link {
    color: #80C0E0;
    text-decoration: none;
    border-bottom: 0;
}
.dark-link:hover {
    border-bottom: 1px solid;
}
#masthead {
    color: rgba(255, 255, 255, 0.45);
    font-family: "Din-Regular", sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 8px 0;
}
p {
    margin: 0;
    padding: 0;
}
.lightning-video {
    max-width: 100%;
    height: auto;
}
.video-container {
    position: relative;
    padding-bottom: 67%;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-wrapper {
    width: 550px;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 0 5em 0;
}
