
.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9000;
    background: rgba(0, 0, 0, 1);
    display: none;
}

.modal {
    z-index: 9001;
    background-color: #EEEEEE;
    position: fixed;
    overflow: visible;
}

@media only screen and (max-width: 500px) {
    .modal-presented {
        width: 45vh;
        height: 90vh;
        left: calc(50vw - 22vh);
        top: 5vh;
    }
}

@media only screen and (min-width: 501px) {
    .modal-presented {
        width: 80vw;
        height: 40vw;
        left: 10vw;
        top: calc(50vh - 20vw);
    }
}


.presenting-modal-card {
  opacity: 0 !important;
}

.modal-primary-graphic {
  z-index: 9003;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-primary-graphic-collapsed {
  height: 15em;
  width: 15em;
}

@media only screen and (max-width: 500px) {
    .modal-primary-graphic-presented {
      height: 45vh;
      width: 45vh;
    }
}

@media only screen and (min-width: 501px) {
    .modal-primary-graphic-presented {
      height: 40vw;
      width: 40vw;
    }
}

.modal-text-block {
  z-index: 9002;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.modal-text-block-collapsed {
  height: 15em;
  width: 15em;
  opacity: 0;
}

@media only screen and (max-width: 500px) {
    .modal-text-block-presented {
      height: 45vh;
      width: 45vh;
      left: 0;
      top: 45vh;
      opacity: 0.8;
    }
}

@media only screen and (min-width: 501px) {
    .modal-text-block-presented {
      height: 40vw;
      width: 40vw;
      left: 40vw;
      opacity: 0.8;
    }
}

.modal-title {
    display: block;
    font-family: 'Din-Medium', sans-serif;
    letter-spacing: 0.05em;
    font-size: 2em;
    text-transform: uppercase;
    text-align: left;
    margin: 40px;
    padding: 0;
    border-bottom: medium solid black;
}

.modal-body-text {
    display: block;
    margin: 40px;
    padding: 0;
}

.modal-body-text > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.45;
    margin-bottom: 0.75em;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    opacity: 0.15;
    bottom: 1em;
    position: absolute;
}

.arrow:hover {
    opacity: 0.4;
}

.arrow-right {
  border-left: 1em solid black;
  right: 1em;
  float: right;
}

.arrow-left {
    border-right: 1em solid black;
    left: 1em;
    float: left;
}
